::selection
{
	background: #149077;
	color: #FFF;
}

::-moz-selection
{
	background: #149077;
	color: #FFF;
}

body {
	background: linear-gradient(90deg, rgb(201, 205, 225) 0%, rgb(228, 237, 255) 35%, rgb(232, 252, 255) 100%);
}

a
{
	color: #16A085;
	text-decoration: none;
}

	a:hover
	{
		color: #444;
	}

h1 {
	text-align: center;
}

h4 {
	text-align: center;
}

.container {
	text-align: center;
}

.row {
	padding-bottom: 100px;
}

#canvas {
	margin: 3%;
}

#product_out {
	padding-top: 10%;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}